{
    "check-coverage": true,
    "per-file": true,
    "lines": 90,
    "statements": 90,
    "functions": 90,
    "branches": 90,
    "include": ["src/tests/**/*.js"],
    "exclude": ["src/client/**/*.js", src/server/**/*.js, src/services/**/*.js],
    "cache": true
}